// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.portfolio-block.block-intro {
  text-align: center;
}

@media (min-width:768px) {
  .portfolio-block {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

.portfolio-block {
  padding-bottom: 60px;
  padding-top: 60px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

